In [1]:
import pandas as pd

In [2]:
fuel=pd.read_csv('./data/fuel.csv',low_memory=False,
                usecols=['Vehicle ID','Year','Make','Model','Class',
                        'Fuel Type','Combined MPG (FT1)'])

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [7]:
fuel['Combined KPL']=fuel['Combined MPG (FT1)']*1.609/3.78
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Combined KPL
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,8.513228
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,8.513228
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,8.938889
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,8.938889
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0,7.236243

In [26]:
fuel.insert(loc=5,column='liters per m',value=100/fuel.Year)

In [34]:
del fuel['liters per gm']

AttributeError: Model

In [35]:
fuel.head()

,Vehicle ID,Year,Make,Model,Class,liters per km,Fuel Type,Combined MPG (FT1),Combined KPL
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular,20.0,8.513228
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular,20.0,8.513228
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,21.0,8.938889
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,21.0,8.938889
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,13.819325,Regular,17.0,7.236243

In [37]:
fuel.drop(labels='Combined MPG (FT1)',axis=1)

,Vehicle ID,Year,Make,Model,Class,liters per km,Fuel Type,Combined KPL
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular,8.513228
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular,8.513228
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,8.938889
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,8.938889
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,13.819325,Regular,7.236243
...,...,...,...,...,...,...,...,...
31679,32060,2012,Mitsubishi,Lancer,Compact Cars,9.397141,Regular,10.641534
31680,32063,2012,Mitsubishi,Lancer AWD,Compact Cars,9.397141,Regular,10.641534
31681,32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,12.364659,Premium,8.087566
31682,32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,12.364659,Premium,8.087566
31683,32106,2012,Mitsubish,NaN,NaN,NaN,NaN,NaN

In [38]:
fuel.drop(labels=1)

,Vehicle ID,Year,Make,Model,Class,liters per km,Fuel Type,Combined MPG (FT1),Combined KPL
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular,20.0,8.513228
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,21.0,8.938889
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,21.0,8.938889
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,13.819325,Regular,17.0,7.236243
5,28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,13.819325,Regular,17.0,7.236243
...,...,...,...,...,...,...,...,...,...
31679,32060,2012,Mitsubishi,Lancer,Compact Cars,9.397141,Regular,25.0,10.641534
31680,32063,2012,Mitsubishi,Lancer AWD,Compact Cars,9.397141,Regular,25.0,10.641534
31681,32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,12.364659,Premium,19.0,8.087566
31682,32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,12.364659,Premium,19.0,8.087566
31683,32106,2012,Mitsubish,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
fuel.drop(index=3)

,Vehicle ID,Year,Make,Model,Class,liters per km,Fuel Type,Combined MPG (FT1),Combined KPL
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular,20.0,8.513228
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular,20.0,8.513228
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,21.0,8.938889
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,13.819325,Regular,17.0,7.236243
5,28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,13.819325,Regular,17.0,7.236243
...,...,...,...,...,...,...,...,...,...
31679,32060,2012,Mitsubishi,Lancer,Compact Cars,9.397141,Regular,25.0,10.641534
31680,32063,2012,Mitsubishi,Lancer AWD,Compact Cars,9.397141,Regular,25.0,10.641534
31681,32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,12.364659,Premium,19.0,8.087566
31682,32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,12.364659,Premium,19.0,8.087566
31683,32106,2012,Mitsubish,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
fuel.drop(columns='Fuel Type')

,Vehicle ID,Year,Make,Model,Class,liters per km,Combined MPG (FT1),Combined KPL
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,20.0,8.513228
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,20.0,8.513228
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,21.0,8.938889
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,21.0,8.938889
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,13.819325,17.0,7.236243
...,...,...,...,...,...,...,...,...
31679,32060,2012,Mitsubishi,Lancer,Compact Cars,9.397141,25.0,10.641534
31680,32063,2012,Mitsubishi,Lancer AWD,Compact Cars,9.397141,25.0,10.641534
31681,32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,12.364659,19.0,8.087566
31682,32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,12.364659,19.0,8.087566
31683,32106,2012,Mitsubish,NaN,NaN,NaN,NaN,NaN

In [41]:
fuel.drop(columns)

AssertionError: axis must be a MultiIndex

In [42]:
fuel.drop(columns='Combined MPG (FT1)', inplace=True)

In [46]:
fuel.drop(index=3,inplace=True)

In [47]:
fuel

,Vehicle ID,Year,Make,Model,Class,liters per km,Fuel Type,Combined KPL
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular,8.513228
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular,8.513228
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,8.938889
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,13.819325,Regular,7.236243
5,28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,13.819325,Regular,7.236243
...,...,...,...,...,...,...,...,...
31679,32060,2012,Mitsubishi,Lancer,Compact Cars,9.397141,Regular,10.641534
31680,32063,2012,Mitsubishi,Lancer AWD,Compact Cars,9.397141,Regular,10.641534
31681,32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,12.364659,Premium,8.087566
31682,32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,12.364659,Premium,8.087566
31683,32106,2012,Mitsubish,NaN,NaN,NaN,NaN,NaN