In [1]:
import pandas as pd
import numpy as np
fuel=pd.read_csv('./data/fuel.csv',low_memory=False,index_col='Vehicle ID',
                usecols=['Vehicle ID','Year','Make','Model','Class',
                        'Fuel Type','Combined MPG (FT1)'])

In [2]:
fuel.loc[27681, 'Combined MPG (FT1)'] = np.NaN

In [3]:
fuel.sort_values(by=['Combined MPG (FT1)'],ascending=True,
                na_position='first').head(20)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,NaN
32106,2012,Mitsubish,NaN,NaN,NaN,NaN
2914,1987,Lamborghini,Countach,Two Seaters,Premium,7.0
6413,1990,Lamborghini,Countach,Two Seaters,Premium,7.0
5267,1989,Lamborghini,Countach,Two Seaters,Premium,7.0
4141,1988,Lamborghini,Countach,Two Seaters,Premium,7.0
1711,1986,Lamborghini,Countach,Two Seaters,Premium,7.0
2157,1986,Maserati,Quattroporte,Midsize Cars,Regular,8.0
26903,1984,Rolls-Royce,Camargue,Compact Cars,Regular,8.0
49,1985,Aston Martin,Saloon/Vantage/Volante,Subcompact Cars,Regular,8.0
1180,1985,Aston Martin,Saloon/Vantage/Volante,Subcompact Cars,Regular,8.0
11591,1995,Ferrari,Ferrari F50,Two Seaters,Premium,8.0
3444,1987,Rolls-Royce,Eight/Mulsan,Midsize Cars,Regular,8.0
26601,1984,Aston Martin,Saloon/Vantage/Volante,Subcompact Cars,Regular,8.0
2056,1986,Rolls-Royce,Camargue,Compact Cars,Regular,8.0
48,1985,Aston Martin,Saloon/Vantage/Volante,Subcompact Cars,Regular,8.0
3447,1987,Rolls-Royce,Silver Spirit/Silver Spur,Midsize Cars,Regular,8.0
1179,1985,Aston Martin,Saloon/Vantage/Volante,Subcompact Cars,Regular,8.0
47,1985,Aston Martin,Lagonda,Subcompact Cars,Regular,8.0
3113,1987,Rolls-Royce,Corniche II,Subcompact Cars,Regular,8.0