In [29]:
import pandas as pd
import numpy as np
air=pd.read_csv('./data/Air_Traffic_Passenger_Statistics.csv')

In [30]:
air.set_index(['Operating Airline','Activity Period','Activity Type Code'],inplace=True)
air.sort_index(ascending=[False,False,True])
air.head()

                                                     Operating Airline IATA Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ
Air Canada        200507          Deplaned                                    AC
                                  Enplaned                                    AC

                                                     Published Airline  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                ATA Airlines
                                  Enplaned                ATA Airlines
                                  Thru / Transit          ATA Airlines
Air Canada        200507          Deplaned                  Air Canada
                                  Enplaned                  Air Canada

                                                     Published Airline IATA Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ
Air Canada        200507          Deplaned                                    AC
                                  Enplaned                                    AC

                                                        GEO Summary  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                 Domestic
                                  Enplaned                 Domestic
                                  Thru / Transit           Domestic
Air Canada        200507          Deplaned            International
                                  Enplaned            International

                                                     GEO Region  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                   US
                                  Enplaned                   US
                                  Thru / Transit             US
Air Canada        200507          Deplaned               Canada
                                  Enplaned               Canada

                                                     Price Category Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                      Low Fare
                                  Enplaned                      Low Fare
                                  Thru / Transit                Low Fare
Air Canada        200507          Deplaned                         Other
                                  Enplaned                         Other

                                                        Terminal  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned            Terminal 1
                                  Enplaned            Terminal 1
                                  Thru / Transit      Terminal 1
Air Canada        200507          Deplaned            Terminal 1
                                  Enplaned            Terminal 1

                                                     Boarding Area  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                       B
                                  Enplaned                       B
                                  Thru / Transit                 B
Air Canada        200507          Deplaned                       B
                                  Enplaned                       B

                                                      Passenger Count
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                      27271
                                  Enplaned                      29131
                                  Thru / Transit                 5415
Air Canada        200507          Deplaned                      35156
                                  Enplaned                      34090

In [31]:
air.loc[('Air France',200507,'Enplaned')]

C:\Users\rafal\AppData\Local\Temp/ipykernel_17708/2380847353.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  air.loc[('Air France',200507,'Enplaned')]

,,,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Operating Airline,Activity Period,Activity Type Code,,,,,,,,,
Air France,200507,Enplaned,AF,Air France,AF,International,Europe,Other,International,A,11638

In [32]:
air.loc[('Air France',200507)]

C:\Users\rafal\AppData\Local\Temp/ipykernel_17708/3353427613.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  air.loc[('Air France',200507)]

,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Activity Type Code,,,,,,,,,
Deplaned,AF,Air France,AF,International,Europe,Other,International,A,12050
Enplaned,AF,Air France,AF,International,Europe,Other,International,A,11638

In [33]:
air.loc['Air France'].head()

                                   Operating Airline IATA Code  \
Activity Period Activity Type Code
200507          Deplaned                                    AF
                Enplaned                                    AF
200508          Deplaned                                    AF
                Enplaned                                    AF
200509          Deplaned                                    AF

                                   Published Airline  \
Activity Period Activity Type Code
200507          Deplaned                  Air France
                Enplaned                  Air France
200508          Deplaned                  Air France
                Enplaned                  Air France
200509          Deplaned                  Air France

                                   Published Airline IATA Code    GEO Summary  \
Activity Period Activity Type Code
200507          Deplaned                                    AF  International
                Enplaned                                    AF  International
200508          Deplaned                                    AF  International
                Enplaned                                    AF  International
200509          Deplaned                                    AF  International

                                   GEO Region Price Category Code  \
Activity Period Activity Type Code
200507          Deplaned               Europe               Other
                Enplaned               Europe               Other
200508          Deplaned               Europe               Other
                Enplaned               Europe               Other
200509          Deplaned               Europe               Other

                                         Terminal Boarding Area  \
Activity Period Activity Type Code
200507          Deplaned            International             A
                Enplaned            International             A
200508          Deplaned            International             A
                Enplaned            International             A
200509          Deplaned            International             A

                                    Passenger Count
Activity Period Activity Type Code
200507          Deplaned                      12050
                Enplaned                      11638
200508          Deplaned                      11230
                Enplaned                      11731
200509          Deplaned                      10731

In [34]:
air.loc[('Air France',200507,'Enplaned'),'Passenger Count']

C:\Users\rafal\anaconda3\lib\site-packages\pandas\core\indexing.py:925: PerformanceWarning: indexing past lexsort depth may impact performance.
  return self._getitem_tuple(key)

Operating Airline  Activity Period  Activity Type Code
Air France         200507           Enplaned              11638
Name: Passenger Count, dtype: int64

In [37]:
air.iloc[20:26]

                                                           Operating Airline IATA Code  \
Operating Airline       Activity Period Activity Type Code
Alaska Airlines         200507          Thru / Transit                              AS
All Nippon Airways      200507          Deplaned                                    NH
                                        Enplaned                                    NH
American Airlines       200507          Deplaned                                    AA
                                        Enplaned                                    AA
American Eagle Airlines 200507          Deplaned                                    MQ

                                                             Published Airline  \
Operating Airline       Activity Period Activity Type Code
Alaska Airlines         200507          Thru / Transit         Alaska Airlines
All Nippon Airways      200507          Deplaned            All Nippon Airways
                                        Enplaned            All Nippon Airways
American Airlines       200507          Deplaned             American Airlines
                                        Enplaned             American Airlines
American Eagle Airlines 200507          Deplaned             American Airlines

                                                           Published Airline IATA Code  \
Operating Airline       Activity Period Activity Type Code
Alaska Airlines         200507          Thru / Transit                              AS
All Nippon Airways      200507          Deplaned                                    NH
                                        Enplaned                                    NH
American Airlines       200507          Deplaned                                    AA
                                        Enplaned                                    AA
American Eagle Airlines 200507          Deplaned                                    AA

                                                              GEO Summary  \
Operating Airline       Activity Period Activity Type Code
Alaska Airlines         200507          Thru / Transit      International
All Nippon Airways      200507          Deplaned            International
                                        Enplaned            International
American Airlines       200507          Deplaned                 Domestic
                                        Enplaned                 Domestic
American Eagle Airlines 200507          Deplaned                 Domestic

                                                           GEO Region  \
Operating Airline       Activity Period Activity Type Code
Alaska Airlines         200507          Thru / Transit         Mexico
All Nippon Airways      200507          Deplaned                 Asia
                                        Enplaned                 Asia
American Airlines       200507          Deplaned                   US
                                        Enplaned                   US
American Eagle Airlines 200507          Deplaned                   US

                                                           Price Category Code  \
Operating Airline       Activity Period Activity Type Code
Alaska Airlines         200507          Thru / Transit                   Other
All Nippon Airways      200507          Deplaned                         Other
                                        Enplaned                         Other
American Airlines       200507          Deplaned                         Other
                                        Enplaned                         Other
American Eagle Airlines 200507          Deplaned                         Other

                                                                 Terminal  \
Operating Airline       Activity Period Activity Type Code
Alaska Airlines         200507          Thru / Transit      International
All Nippon Airways      200507          Deplaned            International
                                        Enplaned            International
American Airlines       200507          Deplaned               Terminal 3
                                        Enplaned               Terminal 3
American Eagle Airlines 200507          Deplaned               Terminal 3

                                                           Boarding Area  \
Operating Airline       Activity Period Activity Type Code
Alaska Airlines         200507          Thru / Transit                 A
All Nippon Airways      200507          Deplaned                       G
                                        Enplaned                       G
American Airlines       200507          Deplaned                       E
                                        Enplaned                       E
American Eagle Airlines 200507          Deplaned                       E

                                                            Passenger Count
Operating Airline       Activity Period Activity Type Code
Alaska Airlines         200507          Thru / Transit                 2266
All Nippon Airways      200507          Deplaned                       6545
                                        Enplaned                       6094
American Airlines       200507          Deplaned                     166577
                                        Enplaned                     160890
American Eagle Airlines 200507          Deplaned                       5493

In [38]:
air.iloc[20:26,7]

Operating Airline        Activity Period  Activity Type Code
Alaska Airlines          200507           Thru / Transit        A
All Nippon Airways       200507           Deplaned              G
                                          Enplaned              G
American Airlines        200507           Deplaned              E
                                          Enplaned              E
American Eagle Airlines  200507           Deplaned              E
Name: Boarding Area, dtype: object